{% extends "gather_vision/layout.html" %}
{% load gather_vision_extras %}
{% load static %}

{% block page_title %}{% view_attr 'page_title' %}{% endblock %}

{% block page_body %}
    {% bs_breadcrumb 'vision:home-index' 'vision:petitions-index' %}

    {{ graph_data | json_script:"graph-change-over-time-data" }}
    {{ graph_layout | json_script:"graph-change-over-time-layout" }}
    {{ graph_config | json_script:"graph-change-over-time-config" }}

    <div id="graph-change-over-time-container" class="w-auto" style="height: 650px;"></div>

{% endblock %}
{% block page_scripts %}
    <script type="module" src="{% static 'gather_vision/graph-change-over-time.js' %}"></script>
{% endblock %}
