# package management
pip
setuptools
wheel
build
twine
pip-audit

# tests
pytest
pytest-mock
pytest-cov
tblib
tox
coverage
hypothesis

# linters
black
flake8
flake8-annotations-coverage
flake8-black
flake8-bugbear
flake8-comprehensions
flake8-unused-arguments
flake8-requirements

# type checking
mypy
pylint
pydocstyle[toml]
types-dateparser
types-PyYAML
types-requests
types-backports
types-urllib3

# docs
pdoc
