# package management
pip
setuptools
wheel
pip-audit
build

# local dev
django-debug-toolbar
django-distill

# tests
tox
pytest
pytest-mock
pytest-cov
pytest-django
coverage
hypothesis[django]
hypofuzz

# linters
black
ruff
pyupgrade
bandit

# type checking
mypy[reports]
pytype ; sys_platform != 'win32' and python_version <= '3.10'
pyre-check
pyright
pylint
types-dateparser
types-PyYAML
types-requests
types-backports
types-urllib3

# docs
mkdocs
mkdocs-material
mkdocstrings
