# package management
pip
setuptools
wheel
pip-audit

# local dev
django-debug-toolbar
django-distill

# tests
pytest
pytest-mock
pytest-cov
pytest-django
coverage
hypothesis[django]
hypofuzz

# linters
black
ruff

# type checking
mypy
types-dateparser
types-PyYAML
types-requests
types-backports
types-urllib3

# docs
mkdocs
mkdocs-material
mkdocstrings
